.btn{
    -fx-padding: 0px;
    -fx-background-radius: 5px;
}

.btn:hover{
    -fx-border-width: 0px 0px 1px 0px;
    -fx-border-color: white;
}
.btn_login{
    -fx-background-radius: 40px;
    -fx-border-radius: 40px;
    -fx-border-width: 2px;
    -fx-border-color: white;
    -fx-text-fill: white;
}
.btn_login:hover{
    -fx-background-color: white;
    -fx-text-fill: black;
}
.close_minus_btn:hover{
    -fx-background-color:  #BE052B;
    -fx-fill:  #BE052B;
}
.nav_set_btn{
    -fx-background-radius: 0;
    -fx-background-color:  #BE052B;
    -fx-border-width:  0px 0px 0px 3px;
    -fx-border-color: orange;
    -fx-alignment: CENTER-LEFT;
    -fx-padding: 7px;

}
.nav_set_btn:hover{
    -fx-background-color:  #BE052B;
    -fx-background-radius: 0;
}
.nav_btn{
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-border-width: 0;
    -fx-alignment: CENTER-LEFT;
    -fx-padding: 10px;
}
.nav_btn:hover{
    -fx-background-color:  #BE052B;
    -fx-background-radius: 0;
}

